<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>studyBlock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>29A051351CED5D8800569E6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29A0514E1CED5D8800569E6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29A051591CED5D8800569E6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
